 @import '../../css/variables.css';
 .playlistItem {
     max-width: 400px;
     cursor: pointer;
     margin: calc(var(--gutter) * 2) 0;
     min-height: 50px;
 }

 .playlistItem--title {
     color: #cacaca;
     font-weight: 400;
     font-size: .85rem;
     text-align: left;
 }

 .loader{
     min-width: 200px;
 }