/*DEFAULT*/
.animations-default-enter {
  opacity: 0.01;
}

.animations-default-enter.animations-default-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.animations-default-leave {
  opacity: 1;
}

.animations-default-leave.animations-default-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}


/*SLIDE RIGHT*/
.animations-slide_right-enter {
  transform: translate(100%);
}

.animations-slide_right-enter.animations-slide_right-enter-active {
  transform: translate(0%);
  transition: transform 350ms ease-in-out;
}

.animations-slide_right-leave {
  transform: translate(0%);
}

.animations-slide_right-leave.animations-slide_right-leave-active {
  transform: translate(100%);
  transition: transform 350ms ease-in-out;
}

/*SLIDE LEFT*/
.animations-slide_left-enter {
  transform: translate(-100%);
}

.animations-slide_left-enter.animations-slide_left-enter-active {
  transform: translate(0%);
  transition: transform 350ms ease-in-out;
}

.animations-slide_left-leave {
  transform: translate(0%);
}

.animations-slide_left-leave.animations-slide_left-leave-active {
  transform: translate(-100%);
  transition: transform 350ms ease-in-out;
}

/*SLIDE TOP TODO*/
.animations-slide_top-enter {
  opacity: 0.01;
}

.animations-slide_top-enter.animations-slide_top-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.animations-slide_top-leave {
  opacity: 1;
}

.animations-slide_top-leave.animations-slide_top-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*SLIDE IN TODO*/
.animations-slide_in-enter {
  transform: translate(0%, -100%);
}

.animations-slide_in-enter.animations-slide_in-enter-active {
  transform: translate(0%, 0%);
  transition: transform 350ms ease-in-out;
}

.animations-slide_in-leave {
  transform: translate(0%, 0%);
}

.animations-slide_in-leave.animations-slide_in-leave-active {
  transform: translate(0%, -100%);
  transition: transform 350ms ease-in-out;
}