 @import './css/variables.css';
 
 .App {
    text-align: center;
}

.App-intro {
    font-size: large;
}

.bioBox {
    width: 100vh;
    min-height: 150px;
    margin-top: 100px;
}

.bioInfo {
    max-width: 20%;
    max-height: 70%;
    position: absolute;
    top: 25%;
    right: 8%;
    background-color: #666;
    padding: 25px;
    overflow-y: auto;
    box-shadow: 1px 1px 5px #999;
}

.videoPlayer{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;

}

@media (min-width: 1200px) {
    #App {
        padding-left: var(--gutter);
        padding-right: var(--gutter);
    }
}
::-webkit-scrollbar { 
    display: none; 
}

.availability_banner {
    position: absolute;
    bottom: 100px;
    width: 100%;
    -webkit-transform: rotate(315deg) translate(30%, 1200%);
    -ms-transform: rotate(315deg) translate(30%, 1200%);
    transform: rotate(315deg) translate(30%, 1200%);
    color: #666;
    background-color: white;
    /* -webkit-box-shadow: 0px 0px 2px 2px var(--main-color); */
    /* box-shadow: 0px 0px 2px 2px var(--main-color); */
    opacity: var(--standard-opacity);
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
}
