@import '../../css/variables';
 
 .flex-box__row {
  display: flex;
  justify-content: space-between;
}

.flex-box__padding {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.flex-box__offset {
  margin-left: calc(-1* var(--gutter));
  margin-right: calc(-1* var(--gutter));
}